/*
 * Variables
 */
/*
 * Hero Component Style
 */
.thumbnaill {
  width: 220px;
  height: 275px;
  box-shadow: 10px 10px 29px -5px rgba(0, 0, 0, 0.75);
  margin: 30px 20px;
  background-color: #7fffd4;
  position: relative;
  float: left;
  transition: box-shadow 0.5s;
}
.thumbnaill > img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  cursor: pointer;
}
.thumbnaill > .imageNotFound {
  object-fit: unset;
}
.thumbnaill div {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.thumbnaill div > img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.thumbnaill > .imageNotFound {
  object-fit: unset;
}
.thumbnaill > p {
  transform: translateX(-50%);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 12px 10px;
  position: absolute;
  left: 50%;
  width: 200px;
}
.thumbnaill > p > a {
  color: #000000;
  position: relative;
}
.thumbnaill > .bookmark {
  position: absolute;
  z-index: 10;
}
.thumbnaill > .bookmark > img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.thumbnaill:hover {
  box-shadow: 10px 10px 29px -5px #3be1ed;
}
@media screen and (max-width: 1199px) {
  .thumbnaill {
    margin: 30px 10px;
  }
}
@media screen and (max-width: 991px) {
  .thumbnaill {
    margin: 30px 20px;
  }
}
@media screen and (max-width: 599px) {
  .thumbnaill {
    margin: 30px 5px;
    box-shadow: 1px 10px 29px -5px rgba(0, 0, 0, 0.75);
  }
}
@media screen and (max-width: 480px) {
  .thumbnaill {
    margin: 30px auto;
    float: none;
    display: inline-block;
    box-shadow: 1px 10px 29px -5px rgba(0, 0, 0, 0.75);
  }
}
